<!DOCTYPE html>
<html>
<head>
	<title>React test page</title>
    <script src="https://fb.me/react-0.14.7.js"></script>
    <script src="https://fb.me/react-dom-0.14.7.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <style type="text/css">
        .graph {
            width: 650px;
            border: 1px black solid;
            border-radius: 10px;
            margin-left: auto;
            margin-right: auto;
            padding: 5px 10px 5px;
        }
        .graph>svg {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <div id="container">
        
    </div>
    <script src="main.jsx" type="text/babel"></script>
</body>
</html>